@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --light-yellow: #ffd976;
    --dark-yellow: #fcd108;
    --dark-grey: #2e2e2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Antonio', sans-serif; */
}

p, button, a {
    font-family: 'Antonio', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Antonio', sans-serif;
}

ul {
    list-style-type: none !important;
}

.header-inner {
    background-color: var(--dark-grey) !important;
}

.scrolled {
    background-color: var(--dark-yellow) !important;
}

.scrolled a {
    color: var(--dark-grey) !important;
}

.scrolled .button {
    background-color: var(--dark-grey);
    color: #fff !important;
}

.scrolled a:hover {
    border-bottom: solid 1px var(--dark-grey) !important;
}

nav a {
    color: var(--dark-yellow) !important;
}

nav a:hover {
    color: #fff !important;
    border-bottom: solid 1px var(--dark-yellow) !important;
}

nav .button {
    padding: 8px !important;
    background-color: var(--dark-yellow);
    color: var(--dark-grey) !important;
    border-radius: 8px !important;
    margin-left: 5px;
}

#dotsMenu {
    height: 200px;
}

#dotsMenu a:hover {
    background-color: var(--dark-yellow) !important;
}
/* 
#dotsMenu a {
    background-color: var(--dark-grey) !important;
    color: #d3d3d334 !important;
} */

#dotsMenu li:hover {
    background-color: var(--dark-yellow) !important;
}

#dotsMenu span {
    font-size: 1.5em !important;
}

.logo-white {
    fill: #ffffff !important;
}

#scroll-down {
    min-height: 60vh;
}

#scroll-arrow {
    position: absolute;
    top: 100%;
}

.realtime {
    font-family: 'Dancing Script', cursive;
    background-color: var(--light-yellow);
    padding: 5px;
    border-radius: 10px;
}

#phone {
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 6px 200px rgba(0, 0, 0, 0.1); */
}

/* .line {
    background-color: #fff !important;
} */

/* .icon i{
    width: 100px !important;
    height: 100px !important;
} */

/* .people {
    gap: 200px;
} */

.person {
    border-radius: 10px !important;
    position: relative;
    /* padding: 20px; */
}

.person img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.person p {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    color: #fff;
    height: 100%;
    transition: 0.5s ease-in-out;
    background-color: #2e2e2c;
}

.person:hover p {
    opacity: 1;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.user-stories {
    /* margin: 10% !important; */
}

.yellow-section {
    background-color: var(--dark-yellow) !important;
}

.dark-section {
    background-color: var(--dark-grey) !important;
}

.dark-text {
    color: var(--dark-grey) !important;
}

.dark-btn {
    background-color: var(--dark-grey) !important;
    border: 1px solid var(--dark-grey) !important;
}