@import url('https://fonts.googleapis.com/css2?family=Antonio&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --light-yellow: #ffd976;
    --dark-yellow: #fcd108;
    --dark-grey: #2e2e2c;
    --border-radius: 15px;
}

::selection {
    color: var(--dark-grey);
    background: var(--light-yellow); 
  }

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Antonio', sans-serif; */
}

body::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2e2e2c8e;
    z-index: 99;
    opacity: 0.5
}

p, button, a {
    font-family: 'Antonio', sans-serif;
}

a {
    transition: all 0.1s ease-in-out;
}

footer a:hover {
    color: var(--dark-yellow) !important;
    transition: all 0.1s ease-in-out;
}

#dotsMenu ul li.current {
    background-color: var(--dark-yellow) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Antonio', sans-serif;
}

ul {
    list-style-type: none !important;
}

.lh-sm {
    line-height: 1.5 !important;
}

.seperator::before, .seperator::after, .separator::before, .separator::after {
    border-bottom: solid 1px var(--dark-grey) !important;
}

.icon-box {
    box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.123);
    transition: all 0.2s ease-in-out;
    border-radius: var(--border-radius) !important;
}

.icon-box:hover {
    box-shadow: 14px 14px 12px rgba(253, 253, 253, 0.123);
    transition: all 0.2s ease-in-out;
    /* margin-top: -10px !important; */
}

.border-left {
    border-left: 1px solid var(--dark-grey) !important;
}

.header-inner {
    background-color: var(--dark-grey) !important;
}

.scrolled {
    background-color: var(--light-yellow) !important;
}

.scrolled a {
    color: var(--dark-grey) !important;
}

.scrolled .button {
    background-color: var(--dark-grey);
    color: #fff !important;
}

.scrolled a:hover {
    /* border-bottom: solid 1px var(--dark-grey) !important; */
}

nav a {
    color: var(--light-yellow) !important;
}

nav a:hover {
    /* color: var(--light-yellow) !important; */
    color: #fff !important;
    border-bottom: 1px solid var(--light-yellow) !important;
    border-radius: var(--border-radius);
}

nav .button {
    padding: 8px !important;
    background-color: var(--light-yellow);
    color: var(--dark-grey) !important;
    border-radius: var(--border-radius) !important;
    border: 1px solid var(--dark-grey) !important;
    margin-left: 10px;
}

nav .button:hover {
    color: var(--dark-yellow);
    border: 1px solid #fff !important;
    background-color: var(--dark-grey) !important;
    transition: all 0.2s ease-in-out;
}

footer img {
    padding: 20px;
}

footer li {
    padding: 10px;
    margin: 10px;
    font-size: large;
}

footer nav {
    margin-left: auto;
}

footer nav a {
    padding: 10px;
}

footer nav a:hover {
    /* background-color: #ffd976; */
}

footer svg:hover {
    /* fill: var(--dark-yellow) !important; */
    background-color: var(--light-yellow);
    border-radius: var(--border-radius);
}

.dark-background {
    background-color: var(--dark-grey);
    padding-left: 10px;
    padding-right: 10px;
}

#dotsMenu {
    height: 200px;
}

#dotsMenu a:hover {
    color: var(--dark-yellow) !important;
    transition: 0.2s all ease-in-out !important;
}
/* 
#dotsMenu a {
    background-color: var(--dark-grey) !important;
    color: #d3d3d334 !important;
} */

#dotsMenu li:hover {
    background-color: var(--dark-yellow) !important;
}

#dotsMenu span {
    font-size: 1.5em !important;
}

#scroll-down {
    min-height: 60vh;
}

#scroll-arrow {
    position: absolute;
    top: 100%;
}

.realtime {
    font-family: 'Dancing Script', cursive;
    background-color: var(--light-yellow);
    padding: 5px;
    border-radius: var(--border-radius);
}

/* text effects under the word "Real Time" */

.underlined {
/*   background: red; */
    position: relative;
}

.underline-mask:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid #fff;
    /* Use a conic gradient mask to hide and show the bits you want */
    --spread: 140deg;
    --start: 290deg;
    mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
}

/* custom light yellow shape divider */

.light-yellow-bottom-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.light-yellow-bottom-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 133px;
}

.light-yellow-bottom-divider .shape-fill {
    fill: #FFD976;
}


#phone {
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1), 0 6px 200px rgba(0, 0, 0, 0.1); */
}

/* .line {
    background-color: #fff !important;
} */

/* .icon i{
    width: 100px !important;
    height: 100px !important;
} */

/* .people {
    gap: 200px;
} */

.person {
    border-radius: var(--border-radius) !important;
    position: relative;
    /* padding: 20px; */
}

.person img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.person p {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    color: #fff;
    height: 100%;
    transition: 0.5s ease-in-out;
    background-color: #2e2e2c;
}

.person:hover p {
    opacity: 1;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.user-stories {
    /* margin: 10% !important; */
}

.post-item-wrap {
    margin-top: 25px;
    transition: all 0.5s ease-in-out;
}

.post-item-wrap:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.123);
    transition: all 0.5s ease-in-out;
    margin-top: -1px !important;
}

.dark-yellow-section {
    background-color: var(--dark-yellow) !important;
}

.light-yellow-section {
    background-color: var(--light-yellow) !important;
    color: var(--dark-grey) !important;
}

.dark-section {
    background-color: var(--dark-grey) !important;
    /* color: #fff !important; */
}

.dark-text {
    color: var(--dark-grey) !important;
}

.dark-yellow-text {
    color: var(--dark-yellow) !important;
}

a.dark-btn:hover {
    background-color: var(--dark-yellow) !important;
    border: solid 1px var(--light-yellow) !important;
}

.dark-btn {
    background-color: var(--light-yellow) !important;
    border: 1px solid var(--dark-grey) !important;
    color: var(--dark-grey) !important;
    transition: all 0.5s ease-in-out;
}

.dark-btn:hover {
    /* color: var(--dark-grey) !important; */
    color: #fff !important;
    border-color: #fff !important;
    background-color: 1px solid var(--dark-yellow) !important;
    transition: 0.5s all ease-in-out;
}

.light-btn {
    background-color: var(--dark-yellow) !important;
    border: 1px solid var(--light-yellow) !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 8px;
}

.light-btn:hover {
    background-color: var(--light-yellow) !important;
    border: 1px solid var(--dark-yellow) !important;
}

.fs-2 {
    font-size: 1.5rem;
}

.qr-section p{
    max-width: 500px;
}

.qr-section * {
    /* padding: 500px !important; */
    /* margin-right: 50px; */
}

.qr-code {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 600px;
    border-radius: var(--border-radius);
}

.testimonial-item {
    /* padding-bottom: 500px !important; */
    border-radius: var(--border-radius) !important;

    margin-top: -84px;
}

.testimonial-item img {
    border: solid 5px var(--dark-grey) !important;
    margin-top: 100px !important;
}

/* testemonial styling */
.testimonial-box {
    max-height: 365px;
    --s: 50px; /* the size on the corner */
    --t: 5px;  /* the thickness of the border */
    --g: 3px; /* the gap between the border and image */
    
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid #2e2e2c; /* the color here */
    outline-offset: calc(-1*var(--t));
    -webkit-mask:
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
        0 0/calc(100% - var(--s)) calc(100% - var(--s)),
        linear-gradient(#000 0 0) content-box;
    transition: .4s;
    border-radius: var(--border-radius);
}

/* wizard selected step color */
.wizard > .steps ul li.current a, .wizard > .steps ul li.current a:hover, .wizard > .steps ul li.current a:active {
    background-color: var(--dark-grey) !important;
}

.wizard > .steps ul li.current a:hover, .wizard > .steps ul li.current a:hover, .wizard > .steps ul li a:hover {
    background-color: var(--dark-yellow) !important;
}

/* wizrd button color */
button.btn, .btn:not(.close):not(.mfp-close), a.btn:not([href]):not([tabindex]) {
    background-color: var(--dark-grey) !important;
    color: #fff !important;
    border: none !important;
    /* border-color: var(--light-yellow) !important; */
}

/* button.btn:hover, .btn:not(.close):not(.mfp-close), a.btn:not([href]):not([tabindex]) {
    background-color: var(--light-yellow) !important;
    border: var(--dark-grey) !important;
} */

/* TIMELINE STEP COLOR */
.timeline .timeline-item .timeline-icon {
    background-color: var(--dark-grey) !important;
}

/* SCROLL UP ARROW  */
#scrollTop i {
    background-color: var(--dark-grey) !important;
}

#scrollTop .fa-arrow-up {
    background-color: var(--dark-grey) !important;
}

#scrollTop .fa-arrow-up:hover {
    background-color: var(--dark-yellow) !important;
}

#scrollTop i:hover {
    background-color: var(--dark-yellow) !important;
}

#contact-whatsapp {
    position: fixed;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    bottom: 15px;
    right: 15px;
    z-index: 9999;
}

/* gradient */
.testemonials-gradient {
    
    background: hsla(43, 100%, 73%, 1);

    background: linear-gradient(-95deg, hsla(43, 100%, 73%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    
    background: -moz-linear-gradient(-95deg, hsla(43, 100%, 73%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    
    background: -webkit-linear-gradient(-95deg, hsla(43, 100%, 73%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFD976", endColorstr="#FFFFFF", GradientType=1 );
}

/* END OF LANDING PAGE SHAPE DIVIDER */
.end-of-page-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.end-of-page-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.end-of-page-divider .shape-fill {
    fill: #2E2E2E;
}

@media only screen and (max-width: 1200px) {

    .qr-code {
        margin-right: 0px !important;
    }

}